<div class="cyber-container">
  <h1>All fighters</h1>
  <div class="cards">
    <%= render 'fighter', fighter: @fighter %>
  </div>
  <div class="pt-3"><%= link_to "Home", root_path, class: "yellow-button" %></div>
</div>

