// Specific CSS for your home-page

h1 {
  font-family: "Press Start 2P";
  color: #F36917;
  text-align: center;
}

body {
  // font-family: "Roboto Condensed";
  font-family: "Press Start 2P";
  font-size: 12px;
  color: #FFB751;
}
