<div class="cyber-container">
  <h1>Register your fighters</h1>

  <%# raise %>

  <%= simple_form_for [@fight, @registration] do |f| %>
    <%= f.association :fighter, as: :check_boxes %>
    <%= f.submit "Save my fight"%>
  <% end %>

</div>
