<div class="cyber-container">
  <h1>Hall of Fame</h1>

  <div>
    <ul>
      <% @fights.each do |fight| %>
        <li><%= fight.id %> - <%= fight.title %></li>
      <% end %>
    </ul>
  </div>
</div>
