<div class="cyber-container">
  <h1> <%= @fight.title %> </h1>
  <%= link_to "register your fighters", new_fight_registration_path(@fight), class: "yellow-button" %>

  <div>
    <ul>
      <% @fight.fighters.each do |fighter| %>
        <li><%= fighter.name %></li>
      <% end %>
    </ul>
  </div>


</div>
